.form {
	margin-bottom: 8px;
	max-width: 480px;
}

.label {
	display: flex;
	flex-direction: column;
	font-weight: 500;}

.label:not(:first-of-type) {
	margin-top: 8px;
}

.input {
	display: block;
	max-width: 100%;
	padding: 4px;
	margin-top: 4px;
}
