.form {
	max-width: 480px;
	margin-bottom: 16px;
}

.label {
	display: flex;
	flex-direction: column;}

.label:not(:first-of-type) {
    margin-top: 8px;
}

.input{
	margin-top: 4px;
	padding: 4px;
}

.btn {
	margin-top: 16px;
	padding: 8px 16px;

	border: 1px solid gray;
	border-radius: 4px;
	background-color: #eeeeee;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
		rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

	cursor: pointer;
}

.btn:hover {
	color: red;
	background-color: #dddddd;
}